<%orden ||= "Crear"%>
<%= form_for(@institution) do |f| %>
	<% if @institution.errors.any? %>
		<% @institution.errors.full_messages.each do |message| %>
			<%flash[:alert] = message %>
		<% end %>
	<% end %>

	<div class="panel panel-default panel-rease" >
		<div class="panel-heading">
			Datos de la institución
		</div>
		<div class="panel-body">
			<h2>Información</h2>
			<div class="field"><p>
				<%= f.label :name, "Nombre: "%>
				<%= f.text_field :name, :class => 'form-control', :placeholder => 'Nombre',:required=>true %>
			</p></div>

			<%if current_user.id == @institution.manager_id%>		
				<div class="field"><p>
					<%= f.label :web, "Pagina web: "%>
					<%= f.text_field :web,  :class => 'form-control', :placeholder => 'Página web. Ejemplo: http://www.ejemplo.com',:required=>true %>
				</p></div>
				<div class="field">
					<p><%= f.file_field :logo %></p>
				</div>
				<div class="field"><p>
					<%= f.label :description, "¿Qué es para tu institución el Aprendizaje Servicio?"%>
					<%= f.text_field :description,  :class => 'form-control', :required=>true %>
				</p></div>

			<h2>Redes sociales</h2>

			<div class="padding15">
				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-facebook"></i></span>
					<%= f.text_field :facebook, :class => 'form-control',:placeholder=>'https://www.facebook.com/ejemplo' %>
				</div>
			
				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-instagram"></i></span>
					<%= f.text_field :instagram, :class => 'form-control',:placeholder=>"https://www.instagram.com/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-linkedin"></i></span>
					<%= f.text_field :linkedin, :class => 'form-control', :placeholder=>"https://www.linkedin.com/in/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-twitter"></i></span>
					<%= f.text_field :twitter, :class => 'form-control',:placeholder=>"https://twitter.com/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-youtube"></i></span>
					<%= f.text_field :youtube, :class => 'form-control', :placeholder=>"https://www.youtube.com/user/ejemplo" %>
				</div>
			</div>	

			<h2>Encargado AS <button type="button" class="btn btn-default btn-white" id:"btn-encargado-AS" data-trigger="focus" data-container="body" data-toggle="btn-encargado-AS"> ? </button></h2>
			<div class="padding15">
				<%@professors = @institution.users.where(category: 2)%>
				<%if @institution.manager_id == current_user.id%>
					<%= f.select :manager_id, @professors.collect {|prof| [prof.name, prof.id]},{:include_blank => "Seleccione un usuario como encargado AS"},{ :class => 'form-control'}%>
				<%end%>
			</div>	
			<%end%>
		</div>	
	</div>
	<%= f.submit orden, :class=>"btn btn-lg btn-crud" %>
	<%= link_to 'Volver', institutions_path, :class =>"btn btn-lg btn-crud" %>
<% end %>

<script type="text/javascript">
		$(function () {
		$('[data-toggle="btn-encargado-AS"]').popover(
			{
				title: 'Encargado AS',
				html: 'true', 
				content: '<p>El <strong>Encargado AS</strong> es un usuario único por insitución. Este usuario es el único capaz de velar por mantener la información y datos de la institution actualizados.</p><p>Además, el encargado AS es el único usuario por institution con permisos para acceder a la información de gestión.</p><p>Si nombras a otro usuario como encargado AS otorgarás tus derechos a otro usuario.</p>',
				template: '<div class="popover popover-rease"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
			}
		)
	})
</script>