<%orden ||= "Crear"%>
<%= form_for(@institution) do |f| %>
	<% if @institution.errors.any? %>
		<% @institution.errors.full_messages.each do |message| %>
			<%flash[:alert] = message %>
		<% end %>
	<% end %>

	<div class="panel panel-default panel-rease" >
		<div class="panel-heading">
			Datos de la institución
		</div>
		<div class="panel-body">
			<h2>Información</h2>
			<div class="field"><p>
				<%= f.label :name, "Nombre: "%>
				<%= f.text_field :name, :class => 'form-control', :placeholder => 'Nombre',:required=>true %>
			</p></div>

			<%if current_user.id == @institution.manager_id%>		
				<div class="field"><p>
					<%= f.label :web, "Pagina web: "%>
					<%= f.text_field :web,  :class => 'form-control', :placeholder => 'Página web. Ejemplo: http://www.ejemplo.com',:required=>true %>
				</p></div>
				<div class="field">
					<p><%= f.file_field :logo %></p>
				</div>
				<div class="field"><p>
					<%= f.label :description, "¿Qué es para tu institución el Aprendizaje Servicio?"%>
					<%= f.text_field :description,  :class => 'form-control', :required=>true %>
				</p></div>

			<h2>Redes sociales</h2>

			<div class="padding15">
				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-facebook"></i></span>
					<%= f.text_field :facebook, :class => 'form-control',:placeholder=>'https://www.facebook.com/ejemplo' %>
				</div>
			
				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-instagram"></i></span>
					<%= f.text_field :instagram, :class => 'form-control',:placeholder=>"https://www.instagram.com/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-linkedin"></i></span>
					<%= f.text_field :linkedin, :class => 'form-control', :placeholder=>"https://www.linkedin.com/in/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-twitter"></i></span>
					<%= f.text_field :twitter, :class => 'form-control',:placeholder=>"https://twitter.com/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-youtube"></i></span>
					<%= f.text_field :youtube, :class => 'form-control', :placeholder=>"https://www.youtube.com/user/ejemplo" %>
				</div>
			</div>		
			<%end%>
		</div>	
	</div>
	<%= f.submit orden, :class=>"btn btn-lg btn-crud" %>
	<%= link_to 'Volver', institutions_path, :class =>"btn btn-lg btn-crud" %>
<% end %>
