<%if user_signed_in?%>
	<h2>Miembros Actuales de <%=@institution.name%></h2>

	<ul class="nav nav-tabs tabRease nav-justified">
		<li id="user1" onclick="user1()"><a>Encargado AS</a></li>
		<li id="user2" onclick="user2()"><a>Profesores</a></li>
		<li id="user3" onclick="user3()"><a>Socios Comunitarios</a></li>
		<li id="user4" onclick="user4()"><a>Vinculadores Sociales</a></li>
	</ul>
	<div class="borderTab">
		<div id="Encargado" class="padding15">
			<h2>Datos del encargado AS de <%= @institution.name%></h2>
			
			<%if @manager.present?%>
				<%if !@manager.photo.blank?%>
					<%= image_tag @user.photo.url(:medium),:class=>'RoundPicture' %>
				<%end%>
				<p><strong>Nombre completo: </strong> <%= link_to @manager.name, @manager %> </p>
				<p><strong>Categoría:</strong> 
				<%if @manager.is_admin? %> Administrador <%end%>
				<%if @manager.category == 2%> Profesor <%end%>
				<%if @manager.category == 3%> Vinculador Social <%end%>
				<%if @manager.category == 4%> Socio Comunitario <%end%>
				</p>
				<p><strong>Rol de Usuario:</strong> 
				<%if @manager.autorization_level == 1%> Activo <%end%>
				<%if @manager.autorization_level == 2%> Adherente <%end%>
				</p>
				<p><strong>Correo: </strong> <%= @manager.email%></p>
			<%else%>
				<p>Actualmente no hay ningún usuario que sea el encargado AS de <%= @institution.name%></p>
				<%if current_user.is_admin?%>
					<%= form_for(@institution) do |f| %>
						<%= f.select :manager_id, @professors.collect {|prof| [prof.name, prof.id]},{:include_blank => "Seleccione un usuario como encargado AS"},{ :class => 'form-control'}%>
						<%= f.submit @action, :class=>"btn btn-lg btnCRUD",  data: { confirm: '¿Estás seguro que desea nombrar a este profesor como encargado AS de'+@institution.name }  %>
					<%end%>
				<%end%>
			<%end%>
		</div>
		<div id="Profesores" class="padding15">
			<%if @professors.present?%>
				<table class="table table-striped member">
					<thead>
						<tr>
							<th><strong>Apodo</strong></th>
							<th><strong>Correo electrónico</strong></th>
							<th><strong>Ofertas disponibles</strong></th>
							<th><strong>Ingreso a REASE</strong></th>

						</tr>
					</thead>
					<tbody>
						<%@professors.each do |profesor|%>
							<tr>
								<td><%=link_to profesor.nickname, profesor%></td>
								<td><%= profesor.email%></td>
								<td><%=profesor.offerings.where(status:1).count%></td>
								<td><%=l profesor.confirmed_at%></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>Actualmente, no hay profesores que pertenezca a <%= @institution.name%></p>
			<%end%>		
		</div>
		<div id="Socios" class="padding15">
			<%if @partners.present?%>
				<table class="table table-striped member">
					<thead>
						<tr>
							<th><strong>Apodo</strong></th>
							<th><strong>Correo electrónico</strong></th>
							<th><strong>Ofertas disponibles</strong></th>
							<th><strong>Ingreso a REASE</strong></th>
						</tr>
					</thead>
					<tbody>
						<%@partners.each do |socio|%>
							<tr>
								<td><%=link_to socio.nickname, socio%></td>
								<td><%= socio.email%></td>
								<td><%=socio.requests.where(status:1).count%></td>
								<td><%=l socio.confirmed_at%></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>Actualmente, no hay socios comunitarios que pertenezca a <%= @institution.name%></p>
			<%end%>		
		</div>
		<div id="Vinculadores" class="padding15">
			<%if @brokers.present?%>
				<table class="table table-striped member">
					<thead>
						<tr>
							<th><strong>Apodo</strong></th>
							<th><strong>Correo electrónico</strong></th>
							<th><strong>Ofertas disponibles</strong></th>
							<th><strong>Solicitudes disponibles</strong></th>
							<th><strong>Ingreso a REASE</strong></th>

						</tr>
					</thead>
					<tbody>
						<%@brokers.each do |vinculador|%>
							<tr>
								<td><%=link_to vinculador.nickname, vinculador%></td>
								<td><%= vinculador.email%></td>
								<td><%=vinculador.offerings.where(status:1).count%></td>
								<td><%=vinculador.requests.where(status:1).count%></td>
								<td><%=l vinculador.confirmed_at%></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>Actualmente, no hay vinculadores sociales que pertenezca a <%= @institution.name%></p>
			<%end%>		
		</div>
	</div>
	<br>
<%end%>

<script type="text/javascript">
	
	document.getElementById('Encargado').style.display='block';	
	document.getElementById("user1").className = "active";	
	document.getElementById('Profesores').style.display='none';
	document.getElementById('Socios').style.display='none';
	document.getElementById('Vinculadores').style.display='none';
	function user1(){
		document.getElementById('Encargado').style.display='block';	
		document.getElementById('Profesores').style.display='none';
		document.getElementById('Socios').style.display='none';
		document.getElementById('Vinculadores').style.display='none';
		document.getElementById("user1").className = "active";
		document.getElementById("user2").className = "";
		document.getElementById("user3").className = "";
		document.getElementById("user4").className = "";
	}
	function user2(){
		document.getElementById('Encargado').style.display='none';		
		document.getElementById('Profesores').style.display='block';
		document.getElementById('Socios').style.display='none';
		document.getElementById('Vinculadores').style.display='none';
		document.getElementById("user1").className = "";
		document.getElementById("user2").className = "active";
		document.getElementById("user3").className = "";
		document.getElementById("user4").className = "";
	}
	function user3(){
		document.getElementById('Encargado').style.display='none';	
		document.getElementById('Profesores').style.display='none';
		document.getElementById('Socios').style.display='block';
		document.getElementById('Vinculadores').style.display='none';
		document.getElementById("user1").className = "";
		document.getElementById("user2").className = "";
		document.getElementById("user3").className = "active";
		document.getElementById("user4").className = "";
	}
	function user4(){
		document.getElementById('Encargado').style.display='none';		
		document.getElementById('Profesores').style.display='none';
		document.getElementById('Socios').style.display='none';
		document.getElementById('Vinculadores').style.display='block';
		document.getElementById("user1").className = "";
		document.getElementById("user2").className = "";
		document.getElementById("user3").className = "";
		document.getElementById("user4").className = "active";
	}

</script>