<div class="panel panel-default panel-rease no-margin-side">
	<div class="panel-heading">
		Experiencias y sus resultados
	</div>
	<div class="panel-body">
		<div class="padding15 to-left">
			<li><strong>Experiencias totales</strong>: <%=@institution.experiences.count%><br></li>
			<li><strong>Estudiantes participantes totales </strong>: <%=@institution.experiences.sum("participants")%></li>
			<li><strong>Miembros de comunidades participantes </strong>: <%=@institution.experiences.sum("benefited")%></li>
		</div>
		<hr>
		<table class="table table-striped display">
			<thead>
				<tr>
					<th><strong>Nombre</strong></th>
					<th><strong>Responsable</strong></th>
					<th><strong>Fecha</strong></th>
				</tr>

			</thead>
			<tbody>
				<%@experiences.each do |experience|%>
				<tr>
					<%@profesor = User.where(id: experience.professor_id).first%>
					<td><%=link_to truncate(experience.title, length: 60), experience%></td>
					<td><%=link_to @profesor.nickname, user_path(@profesor)%></td>
					<td><%=experience.created_at.strftime("%d/%m/%Y")%> <%=link_to image_tag("Extensiones/pdf.gif"), experience_path(experience, format: "pdf"), :target=>'_blank'%></td>
				</tr>
			<%end%>
			</tbody>
		</table>	
	</div>
</div>
