<h1>Información para la gestión de <%=@institution.name%></h1>

<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Información Global
	</div>
	<div class="panel-body">
		<p><strong>Experiencias totales</strong>: <%=@institution.experiences.count%><br></p>
		<p><strong>Estudiantes impactados </strong>: <%=@institution.experiences.sum("participants")%></p>
		<p><strong>Miembros de comunidades impactados </strong>: <%=@institution.experiences.sum("benefited")%></p>
	</div>
</div>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Información de gestión
	</div>
	<div class="panel-body">
		<p class="note">Seleccione el intervalo de fechas que desea consultar información</p>
		<div class="input-group input-daterange">
			<%= text_field_tag 'fecha_inicio', nil, :class=> 'form-control', placeholder: 'Fecha Inicio', id:'fecha_inicio', value: @fecha_inicio %>
			<div class="input-group-addon">hasta</div>
			<%= text_field_tag 'fecha_termino', nil, :class=> 'form-control', placeholder: 'Fecha Término', id:'fecha_termino', value: @fecha_termino %>
		</div>
		<%= link_to 'Enviar Fechas', managment_path(@institution), :class => 'btn btnCRUD', id:'EnviarFechas' %>
		<%if @experiences.present?%>
			<h2>Impactos</h2>		
			<p><strong>Experiencias realizadas</strong>: <%=@experiences.count%><br></p>
			<p><strong>Estudiantes impactados </strong>: <%=@experiences.sum("participants")%></p>
			<p><strong>Miembros de comunidades impactados </strong>: <%=@experiences.sum("benefited")%></p>

			<h2>Experiencias por área</h2>
			<%Area.all.each do |area|%>
				<%if @experiences.by_area(area.id).present?%>
					<%=area.discipline%>: <%=area.name%>			
					<%@experiences.by_area(area.id).each do |exp|%>
						<p><%=link_to exp.title, exp%> </p>
						<hr>
					<%end%>
				<%end%>			
			<%end%>
		<%end%>
	</div>
</div>
<script type="text/javascript">
	var startDate = new Date("<%= @institution.created_at %>");
	$('.input-daterange input').each(function() {
		$(this).datepicker({
			language: "es",
			todayBtn: "linked",
			todayHighlight: true,
			endDate: "today",
			startDate: startDate
			}
		);
	});

	$("#EnviarFechas").click(function() {
		$(this).attr("href", function() {
			return this.href + "?fecha_inicio=" + $('#fecha_inicio').val() + "&fecha_termino=" + $('#fecha_termino').val();
		});
	});

</script>