<h1> Nueva instituci贸n </h1>

<%= form_for(@institution) do |f| %>
	<% if @institution.errors.any? %>
		<% @institution.errors.full_messages.each do |message| %>
			<%flash[:alert] = message %>
		<% end %>
	<% end %>

	<div class="panel panel-default panel-rease" >
		<div class="panel-heading">
			Agregar nueva instituci贸n
		</div>
		<div class="panel-body">

			<div class="field"><p>
				<%= f.label :name, "Nombre: "%>
				<%= f.text_field :name, :class => 'form-control', :placeholder => 'Nombre',:required=>true %>
			</p></div>
				<p class="note">Para agregar una nueva instituci贸n solo requieres el nombre.Recuerda luego nombrar a un encargado AS</p>

		</div>	
	</div>
	<%= f.submit "Agregar nueva instituci贸n", :class=>"btn btn-lg btn-crud" %>
	<%= link_to 'Volver', institutions_path, :class =>"btn btn-lg btn-crud" %>
<% end %>
