<h1><%= @institution.name %></h1>

<%if user_signed_in?%>
    <%if (current_user.is_admin? and !@manager.present?) or current_user==@manager%>
        <%= link_to 'Editar', edit_institution_path(@institution), :class =>"btn btn-lg btn-crud" %>
        <%=link_to "Información de gestión", managment_path(@institution), :class=>'btn btn-lg btn-crud'%>
    <%end%>
<%end%>
<%= link_to 'Volver', :back, :class =>"btn btn-lg btn-crud" %>

<div class="div-rease">
    
    <%= render 'datas'%>
    <%= render 'members'%>
    <%= render 'results'%>
</div>  

<script type="text/javascript">
	$(document).ready(function() {
		$('table.display').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
		});
	} );

	$(document).ready(function() {
		$('table.member').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"bInfo" : false,
		});
		
	} );
</script>

