<%if current_user.institution_id.present?%>
	<%@institution = Institution.where(id: current_user.institution_id).first%>
	
	<%if @institution.name=="Universidad de Santiago de Chile"%>
		<div class="footer-usach"">
			<div class="no_breakline_left">
					<%= image_tag("Institutions/usach/footerorangeblue.jpg") %>
			</div>
			<div >
				<br>
				<%= link_to 'Solicitudes de Servicio', requests_path %>
				<%= link_to 'Ofertas de Servicios', offerings_path %>
				<%= link_to 'Servicios Activos', services_index_activos_path %>
				<%= link_to 'Experiencias Registradas', experiences_path %>	
				<div class="footer-left">
					<br>
					<p>Universidad de Santiago de Chile. Avenida Libertador Bernardo O'Higgins nº 3363. Estación Central. Santiago. Chile.</p>
					<p>Mesa central (562) 2 718 00 00</p> 
				</div>
				<div class="footer-right">
					<br>
					<%= link_to(image_tag("logoblanco.png", :class=>'logo_footer'),root_path) %>
					<%= link_to(image_tag("Institutions/usach/logo_usach_blanco.png", :class=>'logo_footer'),@institution.web) %>
				</div>
			</div>			
		</div>
	<%end%>	


	<%if @institution.name=="Universidad Técnica Metropolitana"%>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Oswald');
		</style> 
		<div class="footer-utem"">
			<p >SIGUENOS EN:
<%=link_to image_tag("Institutions/utem/twitter.png"), "https://twitter.com/usach", :target=>'_blank'%>
<%=link_to image_tag("Institutions/utem/facebook.png"), "https://www.facebook.com/universidaddesantiago/", :target=>'_blank'%>
<%=link_to image_tag("Institutions/utem/youtube.png"), "https://www.youtube.com/user/digecapusach", :target=>'_blank'%>
<%=link_to image_tag("Institutions/utem/linkedin.png"), "https://www.linkedin.com/school/universidad-de-santiago-de-chile/", :target=>'_blank'%>
<%=link_to image_tag("Institutions/utem/instagram.png"), "https://www.instagram.com/udesantiagocl/", :target=>'_blank'%>
		</p>
		<p>Dieciocho 161 - Santiago, Chile. Metro Moneda - Fono: 2787 7500</p>
		</div>
	<%end%>
<%else%>
	<div id="footer">
		<!--Pie de página-->
		<div  id="pies" class = "navbar-default pies">
			REASE - Red Nacional de Aprendizaje Servicio
			<br>
			Contacto: redrease@gmail.com
			<br>
			<%= link_to(image_tag("logoblanco.png", id: "logoFooter"),root_path) %>
		</div>
	</div>		
<%end%>

