<%if user_signed_in? and current_user.institution_id.present?%>
	<%@institution = Institution.where(id: current_user.institution_id).first%>
	
	<%if @institution.name=="Universidad de Santiago de Chile"%>
		<div class="header_usach">
			<div class="header_center">
				<%=link_to 'Universidad de Santiago de Chile', @institution%>
				<div class="to_right no_breakline_right">
					<%=link_to image_tag("Institutions/usach/twitter.png"), "https://twitter.com/usach", :target=>'_blank'%>
					<%=link_to image_tag("Institutions/usach/facebook.png"), "https://www.facebook.com/universidaddesantiago/", :target=>'_blank'%>
					<%=link_to image_tag("Institutions/usach/youtube.png"), "https://www.youtube.com/user/digecapusach", :target=>'_blank'%>
					<%=link_to image_tag("Institutions/usach/linkedin.png"), "https://www.linkedin.com/school/universidad-de-santiago-de-chile/", :target=>'_blank'%>
					<%=link_to image_tag("Institutions/usach/instagram.png"), "https://www.instagram.com/udesantiagocl/", :target=>'_blank'%>
				</div>
			</div>				
		</div>

	<%elsif @institution.name=="Universidad Técnica Metropolitana"%>
		<div class="header-utem">
			<%=link_to image_tag("Institutions/utem/logo.png", :class=>"banner-rease"), "https://www.utem.cl", :target=>'_blank'%>
		</div>
	<%else%>
		<%=image_tag("rease-header.png", :class=>"banner-rease")%>
	<%end%>
<%else%>
	<%=image_tag("rease-header.png", :class=>"banner-rease")%>
<%end%>
