<h1>Editar Perfil</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<!--MAIL-->
	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>

	<div class="panel panel-default panel-rease">
		<div class="panel-heading">
			Datos de <%=@user.name%>
		</div>
		<div class="panel-body">
			
			<h2>Modificar datos personales</h2>
			<div class="field"><p>
				<%= f.label :nickname, "Apodo: "%>
				<%= f.text_field :nickname, :class => 'form-control', :placeholder => 'Apodo o nickname' %>
			</p></div>

			<div class="field"><p>
				<%= f.label :name, "Nombres: "%>
				<%= f.text_field :name, :class => 'form-control', :placeholder => 'Nombres' %>
			</p></div>

			<div class="field"><p>
				<%= f.label :description, "Sobre mí: "%>
				<%= f.text_area :description, :class => 'form-control', :placeholder => 'Anote aquí algo sobre usted' %>
			</p></div>
				
			<div class="field"><p>
				<%= f.label :institution_id, "Institución adherida: (*)"%>
				<%= f.select :institution_id, @institutions.collect {|ins| [ins.name, ins.id]},{:include_blank => "Institución a la que pertenece (Opcional)"},{ :class => 'form-control'} %>
				<p class="note">* Si no se encuentra su institución comuníquese con un administrador</p>
			</p></div>
			
			<p><%= f.check_box :institution_custom? %> <%= f.label :institution_custom, "Usar colores institucionales"%> <button type="button" class="btn btn-default btn-white" id:"btnCustom"  data-trigger="focus" data-container="body" data-toggle="btnCustom"> ? </button></p>

			<h2>Foto de perfil (**)</h2>	
				<%= f.file_field :photo %>
				<p class="note">** Usted debe aparecer vertical en la foto a subir.</p>
			
			<h2>Redes sociales</h2>

			<div class="padding15">
				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-facebook"></i></span>
					<%= f.text_field :facebook, :class => 'form-control',:placeholder=>'https://www.facebook.com/ejemplo' %>
				</div>
			
				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-instagram"></i></span>
					<%= f.text_field :instagram, :class => 'form-control',:placeholder=>"https://www.instagram.com/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-linkedin"></i></span>
					<%= f.text_field :linkedin, :class => 'form-control', :placeholder=>"https://www.linkedin.com/in/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-twitter"></i></span>
					<%= f.text_field :twitter, :class => 'form-control',:placeholder=>"https://twitter.com/ejemplo" %>
				</div>

				<div class="input-group">
					<span class="input-group-addon social-addon"><i class="fa fa-youtube"></i></span>
					<%= f.text_field :youtube, :class => 'form-control', :placeholder=>"https://www.youtube.com/user/ejemplo" %>
				</div>
			</div>					
			<div data-toggle="collapse" data-target="#CambiarPass">
					<h2>Modificar contraseña</h2>	
					<p>Si desea modificar su contraseña <u style="color: #30aaaa;">seleccione aquí</u></p>
				</div>
				<div class="collapse" id="CambiarPass">
				<p class="note">Esta sección es solo en caso que desee cambiar su contraseña</p>
				<div class="field"><p>
					<%= f.label :password, "Nueva contraseña: "%>
					<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Nueva Contraseña (Dejar en blanco si no desea cambiarla)' %>
				</p></div>

				<div class="field"><p>
					<%= f.label :password, "Confirme su contraseña: "%>
					<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Confirmar contraseña' %>
				</p></div>
			</div>
			<div class="field"><p>
				<%= f.label :current_password, "Constraseña actual: "%>
				<%= f.password_field :current_password, autocomplete: "off", :class => 'form-control', :placeholder => 'Ingrese su contraseña actual para confirmar los cambios' %>
			</div>
			<%= f.submit "Actualizar Perfil", :class=>"btn btn-lg btn-crud" %>
			<%= link_to 'Cancelar cambios', :back, :class =>"btn btn-lg btn-crud" %>

		</div>
	</div>
<% end %>

<script type="text/javascript">
$(function () {
	$('[data-toggle="btnCustom"]').popover(
	{
		title: 'Sitio web personalizado',
		html: 'true', 
		content: '<p><strong>Colores institucionales: </strong>Algunas instituciones adheridas a REASE presentan sus colores insitucionales dentro del sitio. Si se marca esta opción y la insitución posee los colores, se desplegará el sitio con aquellos estilos.</p>'
		}
	)
})

</script>