<div class="movdb-header">
	<%= render "partials/Institutions/headers"%>
</div> 

<nav class="navbar navbar-default navbar-rease navbar-fixed-top">
		
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to(image_tag("logoblanco.png", id: "nav-logo"),root_path) %>
			<button type="button" class="navbar-toggle btn-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<i class="glyphicon glyphicon-circle-arrow-down"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if !user_signed_in? %>
				<ul class="nav navbar-nav" >
					<li role="presentation" class="<%= 'active' if current_page?(root_path) %>">
						<%= link_to 'Noticias', root_path %>
					</li>
					<li role="presentation" class="<%= 'active' if current_page?(new_user_session_path) %>">
						<%= link_to 'Intranet', new_user_session_path %>
					</li>
					<li role="presentation" class="<%= 'active' if current_page?(new_registration_path(resource_name)) %>">
						<%= link_to 'Regístrate', new_registration_path(resource_name) %>
					</li>
					<li role="presentation" class="<%= 'active' if current_page?(institutions_path) %>">
						<%= link_to "Instituciones", presentation_somos_path %>
					</li>
					<li role="presentation" class="<%= 'active' if current_page?(contacts_path) %>">
						<%= link_to 'Contacto', contacts_path %>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
					<%= link_to '<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, presentation_about_path,:class=>"nav-text-right"%>
					</li>				
				</ul>
			<%else%>
				<ul class="nav navbar-nav" >
		
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Actividades AS <i class="glyphicon glyphicon-circle-arrow-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation" class="<%= 'active' if current_page?(requests_path) %>">
								<%= link_to 'Solicitudes de Servicio', requests_path %>
							</li>

							<li role="presentation" class="<%= 'active' if current_page?(offerings_path) %>">
								<%= link_to 'Ofertas de Servicios', offerings_path %>
							</li>

							<li role="presentation" class="<%= 'active' if current_page?(services_index_activos_path) %>">
								<%= link_to 'Servicios Activos', services_index_activos_path %>
							</li>

							<li role="presentation" class="<%= 'active' if current_page?(experiences_path) %>">
								<%= link_to 'Experiencias Registradas', experiences_path %>
							</li>
						</ul>
					</li>
					<li role="presentation" class="<%= 'active' if current_page?(resources_path) %>">
						<%= link_to "Recursos", resources_path%>
					</li>

					<li role="presentation" class="<%= 'active' if current_page?(institutions_path) %>">
						<%= link_to "Instituciones", institutions_path %>
					</li>
					

					<li role="presentation" class="<%= 'active' if current_page?(events_path) %>">

						<%= link_to 'Eventos', events_path %>
					</li>

					<%if current_user.is_admin?%>
						<li role="presentation" class="<%= 'active' if current_page?(sections_path) %>">
							<%= link_to "Administración", sections_path%>
						</li>
					<%end%>	
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to users_path do%>
							<%=current_user.nickname%>
							<%if !current_user.photo.present?%>
								<i class="glyphicon glyphicon-user"></i>
							<%else%>
								<%=image_tag current_user.photo, :class=> "square-picture"%>
							<%end%>
						<%end%>
					</li>
					<li>
					<%= link_to '<i class="glyphicon glyphicon-calendar"></i>'.html_safe, '#', {:class=>"nav-text-right", 'data-toggle' => 'modal', 'data-container' => 'body', 'data-target'=>"#modal_calendar" } %>
					</li>
					<li>
						<%= link_to '<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, presentation_about_path,:class=>"nav-text-right"%>
					</li>
					<li>
						<%= link_to '<i class="glyphicon glyphicon-off"></i>'.html_safe, destroy_user_session_path, :method => :delete, :class=>"nav-text-right"%>
					</li>				
				</ul>
			<%end%>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="modal_calendar" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2>Eventos de REASE</h2>
			</div>
			<div class="modal-body">
				<div  id = "calendar-aside"></div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	
	$(document).ready(function() {
		$('#calendar-aside').fullCalendar({
			buttonText: {
				today: 'Hoy',
				day: 'Día',
				week:'Semana',
				month:'Mes'
			},
			events: '/events.json',
			monthNames: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNamesShort: ['Dom','Lun','Mar', 'Mie', 'Jue', 'Vie', 'Sab']
		})
	});

	$('#modal_calendar').on('shown.bs.modal', function () {
	   $("#calendar-aside").fullCalendar('render');
	});

	$(document).ready(function(){
		$(window).scroll(function(){
			if ($(window).scrollTop() >= 120){
				$('.navbar').css('position','fixed');
			}
			else{
				$('.navbar').css('position','relative');
			}
		});
	});

</script>