<%orden ||= "crear"%>
<h1>Administración del sitio <button type="button" class="btn btn-default btn-white" id:"btn-admin"  data-trigger="focus" data-container="body" data-toggle="btn-admin"> ? </button></h1>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Administrar instituciones", institutions_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-inst"  data-trigger="focus" data-container="body" data-toggle="btn-inst"> ? </button>
</div>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Administrar áreas de trabajo", areas_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-area"  data-trigger="focus" data-container="body" data-toggle="btn-area"> ? </button>
</div>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Administrar recursos", resources_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-res"  data-trigger="focus" data-container="body" data-toggle="btn-res"> ? </button>
</div>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Administrar preguntas frecuentes", questions_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-fq"  data-trigger="focus" data-container="body" data-toggle="btn-fq"> ? </button>
</div>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Administrar usuarios", users_listarUsuarios_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-aduser"  data-trigger="focus" data-container="body" data-toggle="btn-aduser"> ? </button>
</div>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Generar Noticia", sections_novedades_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-noti"  data-trigger="focus" data-container="body" data-toggle="btn-noti"> ? </button>
</div>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "Generar boletín informativo", bulletins_path, class:"btn btn-lg btn-admin btn-secondary"%>
	<button type="button" class="btn btn-lg btn-admin-question btn-secondary" id:"btn-bull"  data-trigger="focus" data-container="body" data-toggle="btn-bull"> ? </button>
</div>

<script type="text/javascript">
	$(function () {
		$('[data-toggle="btn-admin"]').popover(
		{
				title: 'Administración',
				placement: 'bottom',
				html: 'true', 
				content: '<p>Los privilegios de administrador permiten a este tipo de usuario realizar acciones a favor de la mantención del sitio, ser administrador, conlleva responsabilidades para que la intranet REASE funcione de manera integra</p>'
			}
		)
	})

	$(function () {
		$('[data-toggle="btn-inst"]').popover(
		{
				title: 'Administración de instituciones',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es el único capaz de adherir nuevas instituciones a la red y nombrar a un encargado AS como responsable de esta</p>'
			}
		)
	})

	$(function () {
		$('[data-toggle="btn-area"]').popover(
		{
				title: 'Administración de áreas',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es el único capaz de agregar nuevas disciplinas de la OCDE en caso de que sean actualizadas</p>'
			}
		)
	})

	$(function () {
		$('[data-toggle="btn-res"]').popover(
		{
				title: 'Administración de recursos',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es capaz de subir recursos o archivos a la red y eliminarlos cuando sea necesario</p>'
			}
		)
	})

	$(function () {
		$('[data-toggle="btn-fq"]').popover(
		{
				title: 'Administración',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador debe crear preguntas frecuentes, junto con sus respuestas para que los usuarios puedan resolver la mayor cantidad de dudas sin problemas</p>'
			}
		)
	})

	$(function () {
		$('[data-toggle="btn-aduser"]').popover(
		{
				title: 'Administración de usuarios',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es el único capaz de nombrar a otro usuario como administrador y cambiar su tipo de usuario</p>'
			}
		)
	})

	$(function () {
		$('[data-toggle="btn-noti"]').popover(
		{
				title: 'Generación de noticias de la intranet',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es capaz de generar noticias que se mostrarán en la página de inicio de la intranet./p>'
			}
		)
	})


	$(function () {
		$('[data-toggle="btn-bull"]').popover(
		{
				title: 'Generación de boletines informativos',
				placement: 'bottom',
				html: 'true', 
				content: '<p>El administrador es capaz de generar boletines con las últimas noticias de la red, añadiendo el listado de actividades AS que se han generado</p>'
			}
		)
	})





</script>






