<h1>Solicitudes de servicio <button type="button" class="btn btn-default btnWhite" id:"btnSolicitud" data-trigger="focus" data-container="body" data-toggle="btnSolicitud"> ? </button></h1>

<% if current_user.category == 4 or current_user.category == 3 %>
	<%= link_to "Nueva solicitud de servicio", new_request_path, :class => 'btn btn-lg' %>
<%end%>
	
<div class="ReaseDiv">
	<ul class="nav nav-tabs tabRease nav-justified">
		<li id="req1" onclick="req1()"><a>Disponibles</a></li>
		<li id="req2" onclick="req2()"><a>Canceladas</a></li>
		<li id="req3" onclick="req3()"><a>Caducadas</a></li>
	</ul>
	<div class="borderTab">

		<div id="Disponible" class="padding15">
			<%if @disponible.present?%>
				<table class="table table-striped display" id="disponible_dt">
					<thead>
						<tr>
							<th><strong>Nombre</strong></th>
							<th><strong>Responsable</strong></th>
							<th><strong>Fecha Inicio</strong></th>
							<th><strong>Fecha Término</strong></th>				
						</tr>
					</thead>
					<tbody>
						<% @disponible.each do |request| %>
							<tr>
								<td>
									<%if current_user.id==request.broker_id || current_user==request.user%>
										<%=link_to '<i class="glyphicon glyphicon-tags"></i> '.html_safe+truncate(request.title, length: 40), request%>
									<%else%>
										<%=link_to truncate(request.title, length: 40), request%>
									<%end%>
									
								</td>
								
								<%if request.user.category == 3%>
									<td>Sin profesor responsable</td>
								<%else%>
									<td><%=link_to request.user.name, request.user%></td>
								<%end%>
								<td><%= request.start_time%></td>
								<td><%= request.end_time%></td>
							</tr>
						<%end%>
					</tbody>
					<tfoot>
						<tr>
							<th><strong>Nombre</strong></th>
							<th><strong>Responsable</strong></th>
							<th><strong>Fecha Inicio</strong></th>
							<th><strong>Fecha Término</strong></th>			
						</tr>
					</tfoot>
				</table>
			<%else%>
				<div class="panel panel-default panelRease">
					<div class="panel-heading">
						Solicitudes de servicios disponibles
					</div>
					<div class="panel-body">
						<p>No hay solicitudes de servicio disponibles</p>
					</div>
				</div>
			<%end%>
		</div>

		<div id="Cancelada" class="padding15">
			<%if @cancelada.present?%>
				<table class="table table-striped display" id="cancelada_dt">
					<thead>
						<tr>
							<th><strong>Nombre</strong></th>
							<th><strong>Responsable</strong></th>
							<th><strong>Fecha Inicio</strong></th>
							<th><strong>Fecha Término</strong></th>					
						</tr>
					</thead>
					<tbody>
						<% @cancelada.each do |request| %>
							<tr>
								<td>
									<%if current_user.id==request.broker_id || current_user==request.user%>
										<%=link_to '<i class="glyphicon glyphicon-tags"></i> '.html_safe+truncate(request.title, length: 40), request%>
									<%else%>
										<%=link_to truncate(request.title, length: 40), request%>
									<%end%>									
								</td>
								
								<%if request.user.category == 3%>
									<td>Sin profesor responsable</td>
								<%else%>
									<td><%=link_to request.user.name, request.user%></td>
								<%end%>
								<td><%= request.start_time%></td>
								<td><%= request.end_time%></td>
							</tr>
						<%end%>
					</tbody>
					<tfoot>
						<tr>
							<th><strong>Nombre</strong></th>
							<th><strong>Responsable</strong></th>
							<th><strong>Fecha Inicio</strong></th>
							<th><strong>Fecha Término</strong></th>			
						</tr>
					</tfoot>
				</table>
			<%else%>
				<div class="panel panel-default panelRease">
					<div class="panel-heading">
						Solicitudes de servicios canceladas
					</div>
					<div class="panel-body">
						<p>No hay solicitudes de servicio camceladas</p>
					</div>
				</div>
			<%end%>
		</div>
		<div id="Caducada" class="padding15">
			<%if @caducada.present?%>
				<table class="table table-striped display" id="caducada_dt">
					<thead>
						<tr>
							<th><strong>Nombre</strong></th>
							<th><strong>Responsable</strong></th>
							<th><strong>Fecha Inicio</strong></th>
							<th><strong>Fecha Término</strong></th>					
						</tr>
					</thead>
					<tbody>
						<% @caducada.each do |request| %>
							<tr>
								<td>
									<%if current_user.id==request.broker_id || current_user==request.user%>
										<%=link_to '<i class="glyphicon glyphicon-tags"></i> '.html_safe+truncate(request.title, length: 40), request%>
									<%else%>
										<%=link_to truncate(request.title, length: 40), request%>
									<%end%>
									
								</td>
								
								<%if request.user.category == 3%>
									<td>Sin profesor responsable</td>
								<%else%>
									<td><%=link_to request.user.name, request.user%></td>
								<%end%>
								<td><%= request.start_time%></td>
								<td><%= request.end_time%></td>
							</tr>
						<%end%>
					</tbody>
					<tfoot>
						<tr>
							<th><strong>Nombre</strong></th>
							<th><strong>Responsable</strong></th>
							<th><strong>Fecha Inicio</strong></th>
							<th><strong>Fecha Término</strong></th>				
						</tr>
					</tfoot>
				</table>
			<%else%>
				<div class="panel panel-default panelRease">
					<div class="panel-heading">
						Solicitudes de servicios caducadas
					</div>
					<div class="panel-body">
						<p>No hay solicitudes de servicio caducadas</p>
					</div>
				</div>
			<%end%>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.getElementById('Disponible').style.display='block';	
	document.getElementById("req1").className = "active";	
	document.getElementById('Cancelada').style.display='none';
	document.getElementById('Caducada').style.display='none';
	function req1(){
		document.getElementById('Disponible').style.display='block';	
		document.getElementById('Cancelada').style.display='none';
		document.getElementById('Caducada').style.display='none';
		document.getElementById("req1").className = "active";
		document.getElementById("req2").className = "";
		document.getElementById("req3").className = "";
	}
	function req2(){
		document.getElementById('Disponible').style.display='none';	
		document.getElementById('Cancelada').style.display='block';
		document.getElementById('Caducada').style.display='none';
		document.getElementById("req1").className = "";
		document.getElementById("req2").className = "active";
		document.getElementById("req3").className = "";
		
	}
	function req3(){
		document.getElementById('Disponible').style.display='none';		
		document.getElementById('Cancelada').style.display='none';
		document.getElementById('Caducada').style.display='block';
		document.getElementById("req1").className = "";
		document.getElementById("req2").className = "";
		document.getElementById("req3").className = "active";
	}
	var content = '<p>Una <strong>solicitud de servicio</strong> es el proceso previo para concretar un proyecto AS, esta es publicada por un socio comunitario y pretenden encontrar un profesor con quien realizar dicho proyecto.</p><p>A continuación se presenta el proceso completo de un proyecto AS</p></p><div id = \"image"> <%= image_tag("Services.png",:class=>"popoverImage") %></div><p><i class="glyphicon glyphicon-tags"></i> : Solicitud de servicio que usted publicó.</p>';
	$(function () {
		$('[data-toggle="btnSolicitud"]').popover(
			{
				html: 'true', 
				content: content,
				title: 'Solicitud de servicio',
				placement: "bottom", 
				template: '<div class="popover popover-rease"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'

			}
		)
	})
	$(document).ready(function() {
		$('table.display').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
		});
	} );
</script>