<h1>Recursos</h1>
<%if current_user.is_admin?%>
	<%= link_to 'Agregar nuevo recurso', new_resource_path, :class=>"btn btn-lg " %>
<%end%>

<div class="div-rease">
	<ul class="nav nav-tabs tab-rease nav-justified">
		<li id="res1" onclick="res1()"><a>Actas reuniones</a></li>
		<li id="res2" onclick="res2()"><a>Plantillas</a></li>
		<li id="res3" onclick="res3()"><a>Formación AS</a></li>
		<li id="res4" onclick="res4()"><a>Enlaces útiles</a></li>
		<li id="res5" onclick="res5()"><a>Otros</a></li>
	</ul>

	<div class="border-tab">
		<div id="Actas" class="padding15">
			<%if @actas.present?%>
				<table class="table table-striped display" id="actas_dt">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Publicador</th>
							<th>Fecha</th>
							<th>descargar</th>
						</tr>
					</thead>
					<tbody>
						<%@actas.each do |resource|%>
							<tr>
								<td><%=resource.name%></td>
								<td><%=link_to resource.user.nickname, resource.user%></td>
								<td><%=l resource.date%></td>
								<td><%= render 'extensiones', :resource => resource %></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>No hay actas de reuniones disponibles</p>
			<%end%>
		</div>
		<div id="Plantillas">
			<%if @plantillas.present?%>
				<table class="table table-striped display" id="plantillas_dt">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Publicador</th>
							<th>Fecha</th>
							<th>descargar</th>
						</tr>
					</thead>
					<tbody>
						<%@plantillas.each do |resource|%>
							<tr>
								<td><%=resource.name%></td>
								<td><%=resource.id%></td>
								<td><%=l resource.date%></td>
								<td><%= render 'extensiones', :resource => resource %></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>No hay plantillas disponibles</p>
			<%end%>		
		</div>
		<div id="Formacion">
			<%if @formacion.present?%>
				<table class="table table-striped display" id="formacion_dt">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Publicador</th>
							<th>Fecha</th>
							<th>descargar</th>
						</tr>
					</thead>
					<tbody>
						<%@formacion.each do |resource|%>
							<tr>
								<td><%=resource.name%></td>
								<td><%=resource.id%></td>
								<td><%=l resource.date%></td>
								<td><%= render 'extensiones', :resource => resource %></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>No hay recursos de formación AS disponibles</p>
			<%end%>
		</div>
		<div id="Enlaces">
			<%if @enlaces.present?%>
				<table class="table table-striped display" id="actas_dt">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Publicador</th>
							<th>Fecha</th>
							<th>descargar</th>
						</tr>
					</thead>
					<tbody>
						<%@enlaces.each do |resource|%>
							<tr>
								<td><%=resource.name%></td>
								<td><%=resource.id%></td>
								<td><%=l resource.date%></td>
								<td><%= render 'extensiones', :resource => resource %></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>No hay enlaces disponibles</p>
			<%end%>
		</div>
		<div id="Otros">
			<%if @otros.present?%>
				<table class="table table-striped display" id="actas_dt">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Publicador</th>
							<th>Fecha</th>
							<th>descargar</th>
						</tr>
					</thead>
					<tbody>
						<%@otros.each do |resource|%>
							<tr>
								<td><%=resource.name%></td>
								<td><%=resource.id%></td>
								<td><%=l resource.date%></td>
								<td><%= render 'extensiones', :resource => resource %></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			<%else%>
				<p>No hay recursos extras disponibles</p>
			<%end%>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.getElementById('Actas').style.display='block';	
	document.getElementById("res1").className = "active";	
	document.getElementById('Plantillas').style.display='none';
	document.getElementById('Formacion').style.display='none';
	document.getElementById('Enlaces').style.display='none';
	document.getElementById('Otros').style.display='none';
	function res1(){
		document.getElementById('Actas').style.display='block';	
		document.getElementById('Plantillas').style.display='none';
		document.getElementById('Formacion').style.display='none';
		document.getElementById('Enlaces').style.display='none';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "active";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "";
		document.getElementById("res5").className = "";
	}
	function res2(){
		document.getElementById('Actas').style.display='none';	
		document.getElementById('Plantillas').style.display='block';
		document.getElementById('Formacion').style.display='none';
		document.getElementById('Enlaces').style.display='none';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "active";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "";		
		document.getElementById("res5").className = "";
	}
	function res3(){
		document.getElementById('Actas').style.display='none';		
		document.getElementById('Plantillas').style.display='none';
		document.getElementById('Formacion').style.display='block';
		document.getElementById('Enlaces').style.display='none';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "active";
		document.getElementById("res4").className = "";
		document.getElementById("res5").className = "";
	}
	function res4(){
		document.getElementById('Actas').style.display='none';		
		document.getElementById('Plantillas').style.display='none';
		document.getElementById('Formacion').style.display='none';
		document.getElementById('Enlaces').style.display='block';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "active";
		document.getElementById("res5").className = "";
	}
	function res5(){
		document.getElementById('Actas').style.display='none';		
		document.getElementById('Plantillas').style.display='none';
		document.getElementById('Formacion').style.display='none';
		document.getElementById('Enlaces').style.display='none';
		document.getElementById('Otros').style.display='block';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "";
		document.getElementById("res5").className = "active";
	}

	$(document).ready(function() {
		$('table.display').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
		});
	} );
</script>